<div class="container-fluid">
  <div class="row page-title align-items-center">
    <div class="col-md-3 col-xl-6">
      <h4 class="mb-1 mt-0">Productos</h4>
    </div>
    <div class="col-md-9 col-xl-6 text-md-right">
      <div class="mt-4 mt-md-0">
        <button type="button" routerLink="/newproduct" class="btn btn-primary mr-4 mb-3  mb-sm-0"><i class="uil-plus mr-1"></i> Nuevo
          producto</button>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="tixs!='undefined'">
    <div class="col-xl-4 col-lg-6" *ngFor="let product of tixs">
      <div class="card">
        <div class="card-body">
          <div>
            <a routerLink="/productdetail/{{product.id}}">
              <img src="{{ product.images[0] }}" alt="" class="" style="max-height: 190px;max-width: 220px;">
            </a>
          </div>
    
          <h5 cl><a href="javascript: void(0)" class="text-dark">{{ product.name }}</a></h5>
          <p class="text-muted mb-4">{{ product.brand }}</p>

        </div>
        <div class="card-body border-top">
          <div class="row align-items-center">
            <div class="col-sm-auto">
              <ul class="list-inline mb-0">
      
                <li class="list-inline-item pr-2">
                  <a href="javascript: void(0)" class="text-muted d-inline-block" placement="top" ngbTooltip="
                Modelo">
                    <i class="uil uil-bars mr-1"></i> {{ product.model }} 
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript: void(0)" class="text-muted d-inline-block" placement="top" ngbTooltip="Precio">
                    <i class="uil  uil-money-stackmr-1"></i>$ {{ product.price }} 
                  </a>
                </li>
              </ul>
            </div>
            <div class="col offset-sm-1">
              <ngb-progressbar [type]="product.color" [value]="product.progress" height="5px" class="m-0">
              </ngb-progressbar>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>
  </div>
</div>
