<div class="container-fluid">
  <div class="row page-title">
    <div class="col-sm-8 col-xl-6">
      <h4 class="mb-1 mt-0">
        Detalles del producto
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body">
          <div>
            <a >
              <img src="{{ tix.images[0] }}" alt="" class="" style="max-height: 500px; max-width: 650px; width: 100%;">
            </a>
          </div>
          <div class="mt-3">
            
          </div>
          <h6 class="mt-0 header-title">Nombre</h6>
          <div class="text-muted mt-3">
            <p>{{tix.name}}</p>   
          </div>
          <h6 class="mt-0 header-title">Modelo</h6>
          <div class="text-muted mt-3">
            <p>{{tix.model}}</p>   
          </div>
          <h6 class="mt-0 header-title">Marca</h6>
          <div class="text-muted mt-3">
            <p>{{tix.brand}}</p>   
          </div>
          <h6 class="mt-0 header-title">Precio</h6>
          <div class="text-muted mt-3">
            <p>$ {{tix.price}}</p>   
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <h6 class="mt-0 header-title" [hidden]="editing">Acciones</h6> 
          <h6 class="mt-0 header-title" [hidden]="!editing">Detalles del producto</h6>
          <h6 class="mt-0 header-title" [hidden]="!deleting">Confirmas que deseas borrar este producto?</h6>
            <div class="experience-info" [hidden]="!editing">
              <div class="row form-row experience-cont">
                <div class="col-12 col-md-10 col-lg-11">
                  <div class="row form-row">
                    <form  [formGroup]="typeValidationForm">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label> Nombre del producto</label>
                            <input type="text" class="form-control" formControlName="name"   [(ngModel)]="tix.name"
                            [ngClass]="{'is-invalid': typesubmit && fval.name.errors}" placeholder="Nombre del producto" />
                            <div *ngIf="typesubmit && fval.name.errors" class="invalid-feedback">
                              <span *ngIf="fval.name.errors.required">Este campo es requerido.</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label>Modelo</label>
                            <input type="text" class="form-control" formControlName="model"  [(ngModel)]="tix.model"
                              [ngClass]="{'is-invalid': typesubmit && fval.model.errors}" placeholder="Modelo" />
                            <div *ngIf="typesubmit && fval.model.errors" class="invalid-feedback">
                              <span *ngIf="fval.model.errors.required">Este campo es requerido.</span>
                            </div>
                          </div>     
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label>Marca</label>
                            <input type="text" class="form-control" formControlName="brand"  [(ngModel)]="tix.brand"
                              [ngClass]="{'is-invalid': typesubmit && fval.brand.errors}" placeholder="Marca" />
                            <div *ngIf="typesubmit && fval.brand.errors" class="invalid-feedback">
                              <span *ngIf="fval.brand.errors.required">Este campo es requerido.</span>
                            </div>
                          </div>   
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label>Precio</label>
                            <div>
                              <input formControlName="price" type="text" class="form-control"  [(ngModel)]="tix.price"
                                [ngClass]="{'is-invalid': typesubmit && fval.price.errors}"
                                placeholder="Precio del producto" />
                              <div *ngIf="typesubmit && fval.price.errors" class="invalid-feedback">
                                <span *ngIf="fval.price.errors.required">Este campo es requerido.</span>
                              </div>
                            </div>
                          </div>
                        </div>
           

                        <div class="col-12">
                          <div class="form-group ">
                            <label>Categoria ({{category}})
                            <span [hidden]="loaded">Loading...</span></label>
                            <ng-multiselect-dropdown
                                  [placeholder]="'Categoría'"
                                  [settings]="dropdownSettings"
                                  [data]="dropdownList"
                                  [(ngModel)]="selectedItems"
                                  (onSelect)="onItemSelect($event)"(onDeSelect)="onItemDeSelect($event)"
                                  (onSelectAll)="onSelectAll($event)"
                                  [ngModelOptions]="{standalone: true}">
                            </ng-multiselect-dropdown>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group" [hidden]="!subs">
                            <label>Subcategoría ({{subcategory}})
                            <span [hidden]="loaded">Loading...</span></label>
                            <ng-multiselect-dropdown
                                  [placeholder]="'Subcategoría'"
                                  [settings]="dropdownSettings2"
                                  [data]="dropdownList2"
                                  [(ngModel)]="selectedItems2"
                                  (onSelect)="onItemSelect2($event)"
                                  (onDeSelect)="onItemDeSelect2($event)"
                                  (onSelectAll)="onSelectAll2($event)"
                                  [ngModelOptions]="{standalone: true}">
                            </ng-multiselect-dropdown>
                          </div>
                        </div>

                       

                      </div>
                    </form>
                                 <div class="form-group mb-0">
                          <div>
                              <button (click)="cancel()" class="btn btn-secondary waves-effect">
                              Cancelar
                            </button>
                            <button (click)="sendTix(tix)" class="btn btn-primary waves-effect waves-light mr-1">
                              Aceptar
                            </button>
                          
                          
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="experience-info" [hidden]="!deleting">
              <div class="row form-row experience-cont">
                <div class="col-12 col-md-10 col-lg-11">
                  <div class="row form-row">
                     <div>
                        <button (click)="cancelDelete()" class="btn btn-secondary waves-effect">
                          Cancelar
                        </button>
                        <button (click)="okDelete(tix)" class="btn btn-primary waves-effect waves-light mr-1">
                          Aceptar
                        </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <img src="assets/images/tenor.gif"   style="max-height: 32px;max-width: 32px; text-align: center; " [hidden]="!updating">
          <button type="button" (click)="edit()" [hidden]="buttonDisabled || editing || deleting" class="btn btn-primary mr-4 mb-3  mb-sm-0"><i class="uil-edit mr-1"></i> Editar</button>
          <button type="button" (click)="delete()" [hidden]="buttonDisabled || editing || deleting" class="btn btn-danger mr-4 mb-3  mb-sm-0"><i class="uil-trash mr-1"></i> Borrar</button>
        
        </div>
      </div>
    </div>
  </div>
</div>